#footer {
  @apply text-center flex flex-col items-center px-10 xl:px-20;
  .upper {
    @apply flex flex-col items-center py-12 gap-4 border-b border-black border-solid border-opacity-10 lg:flex-row w-full
    lg:justify-between;
    .logo-container {
      @apply flex flex-col items-center lg:items-start;
      img {
        @apply w-[110px] h-[30px] mb-4;
      }
      p {
        @apply opacity-60 leading-7;
      }
    }
    .nav {
      @apply flex flex-col items-center gap-2 lg:flex-row lg:gap-14;
      a {
        @apply font-medium tracking-[-0.02em];
      }
    }
  }
  .lower {
    @apply flex flex-col items-center py-12 gap-4 lg:flex-row w-full lg:justify-between;
    .empty {
      @apply hidden lg:flex w-[8.5rem];
    }
    p {
      font-family: 'Eudoxus Sans';
      color: rgb(0 0 0 / 0.6);
      @apply text-lg;
      span {
        @apply text-[#FF7967];
      }
    }
    .socials {
      @apply flex items-center gap-4 lg:gap-10;
      a {
        img {
        }
      }
    }
  }
}
