@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://stijndv.com/fonts/Eudoxus-Sans.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  width: 100vw;
}

main {
  @apply flex flex-col items-center gap-40 py-10;
}

h2 {
  @apply z-10 text-3xl font-semibold leading-[1.21em] tracking-[-0.04em] lg:text-5xl lg:leading-[1.21em];
}
