#hero {
  @apply relative mx-auto flex w-[90%] flex-col-reverse before:absolute before:top-[2.5%] before:h-[95%]
  before:rounded-r-[2rem] before:bg-brightBlue after:absolute after:top-[2.5%] after:h-[95%] after:rounded-l-[2rem] after:bg-brightBlue
  lg:grid lg:grid-cols-2;
  &::after,
  &::before {
    width: calc((100vw - 100%) / 4);
  }
  &::before {
    left: calc((100vw - 100%) / -2);
  }
  &::after {
    right: calc((100vw - 100%) / -2);
  }
  .info-container {
    @apply relative flex flex-col gap-4 rounded-b-[2rem] bg-brightBlue p-4 lg:gap-[2.22vw] lg:rounded-b-none lg:rounded-l-[2rem]
    lg:p-[3.47vw];
    .hot-recipes {
      @apply flex w-max items-center gap-3 rounded-full bg-white py-2.5 px-5;
      img {
        @apply lg:w-[1.67vw];
      }
      p {
        @apply text-sm font-semibold leading-[1.21em] tracking-[-0.02em] lg:text-[0.97vw];
      }
    }
    .main-info {
      @apply flex flex-col gap-3 lg:gap-[1.67vw];
      h1 {
        @apply text-4xl font-semibold leading-[1.2em] tracking-[-0.04em] lg:text-[4.45vw];
      }
      p {
        @apply text-sm leading-[1.75em] opacity-60 lg:text-[1.11vw];
      }
      .additional-info {
        @apply flex gap-4;
        div {
          @apply flex items-center gap-2.5 rounded-full bg-black bg-opacity-5 px-4 py-2;
          img {
            @apply w-[18px] lg:w-[1.25vw];
          }
          p {
            @apply text-sm leading-[1.21em] tracking-[-0.02em] lg:text-[0.97vw];
          }
        }
      }
    }
    .publisher {
      @apply flex flex-col justify-center gap-4 lg:mt-auto lg:flex-row lg:justify-between;
      .person {
        @apply flex items-center gap-4;
        img {
          @apply lg:w-[3.47vw];
        }
        div {
          p:nth-child(1) {
            @apply mb-2 font-bold leading-[1.187em] tracking-[-0.02em] lg:text-[1.11vw];
          }
          p:nth-child(2) {
            @apply text-sm font-medium leading-[1.21em] tracking-[-0.02em] opacity-60 lg:text-[0.97vw];
          }
        }
      }
      .publisher-recipes {
        @apply flex w-max items-center gap-4 rounded-2xl bg-black py-5 px-9 text-white lg:px-[2.5vw] lg:py-[1.39vw];
        p {
          @apply text-sm font-semibold leading-[1.21em] tracking-[-0.02em] lg:text-[0.97vw];
        }
        img {
          @apply lg:w-[1.67vw];
        }
      }
    }
    .badge {
      @apply absolute left-3/4 top-0 w-1/4 -translate-x-1/2 -translate-y-1/2 lg:left-[102%] lg:top-1/4;
    }
  }
  .image-container {
    img {
      @apply h-full w-full rounded-t-[2rem] object-cover lg:rounded-t-none lg:rounded-r-[2rem];
    }
  }
}
