#hero {
  @apply relative flex w-[90%] flex-col-reverse before:absolute before:top-[2.5%] before:h-[95%]
  before:rounded-r-[2rem] before:bg-brightBlue after:absolute after:top-[2.5%] after:h-[95%] after:rounded-l-[2rem] after:bg-brightBlue
  lg:grid lg:grid-cols-2;
  &::after,
  &::before {
    width: calc((100vw - 100%) / 4);
  }
  &::before {
    left: calc((100vw - 100%) / -2);
  }
  &::after {
    right: calc((100vw - 100%) / -2);
  }
  .info-container {
    @apply relative flex flex-col gap-4 rounded-b-[2rem] bg-brightBlue p-4 lg:gap-[2.22vw] lg:rounded-b-none lg:rounded-l-[2rem]
    lg:p-[3.47vw];
    .hot-recipes {
      @apply flex w-max items-center gap-3 rounded-full bg-white py-2.5 px-5;
      img {
        @apply lg:w-[1.67vw];
      }
      p {
        @apply text-sm font-semibold leading-[1.21em] tracking-[-0.02em] lg:text-[0.97vw];
      }
    }
    .main-info {
      @apply flex flex-col gap-3 lg:gap-[1.67vw];
      h1 {
        @apply text-4xl font-semibold leading-[1.2em] tracking-[-0.04em] lg:text-[4.45vw];
      }
      p {
        @apply text-sm leading-[1.75em] opacity-60 lg:text-[1.11vw];
      }
      .additional-info {
        @apply flex gap-4;
        div {
          @apply flex items-center gap-2.5 rounded-full bg-black bg-opacity-5 px-4 py-2;
          img {
            @apply w-[18px] lg:w-[1.25vw];
          }
          p {
            @apply text-sm leading-[1.21em] tracking-[-0.02em] opacity-60 lg:text-[0.97vw];
          }
        }
      }
    }
    .publisher {
      @apply flex flex-col justify-center gap-4 lg:mt-auto lg:flex-row lg:justify-between;
      .person {
        @apply flex items-center gap-4;
        img {
          @apply lg:w-[3.47vw];
        }
        div {
          p:nth-child(1) {
            @apply mb-2 font-bold leading-[1.187em] tracking-[-0.02em] lg:text-[1.11vw];
          }
          p:nth-child(2) {
            @apply text-sm font-medium leading-[1.21em] tracking-[-0.02em] opacity-60 lg:text-[0.97vw];
          }
        }
      }
      .publisher-recipes {
        @apply flex w-max items-center gap-4 rounded-2xl bg-black py-5 px-9 text-white lg:px-[2.5vw] lg:py-[1.39vw];
        p {
          @apply text-sm font-semibold leading-[1.21em] tracking-[-0.02em] lg:text-[0.97vw];
        }
        img {
          @apply lg:w-[1.67vw];
        }
      }
    }
    .badge {
      @apply absolute left-3/4 top-0 w-1/4 -translate-x-1/2 -translate-y-1/2 lg:left-[102%] lg:top-1/4;
    }
  }
  .image-container {
    img {
      @apply h-full w-full rounded-t-[2rem] object-cover lg:rounded-t-none lg:rounded-r-[2rem];
    }
  }
}

#categories {
  @apply flex w-[90%] max-w-screen-xl flex-col items-center gap-10 text-center lg:gap-14 xl:gap-20;
  .title-container {
    @apply flex w-full flex-col gap-4 lg:flex-row lg:justify-between;
    a {
      @apply cursor-pointer rounded-2xl bg-brightBlue py-5 px-[1.75rem] text-sm font-semibold leading-[1.1875em] tracking-[-0.02em]
      transition-all duration-300 hover:opacity-70 lg:text-base;
    }
  }
  .categories-container {
    @apply flex flex-wrap justify-center gap-10;
  }
}

#recipes-1 {
  @apply flex w-[90%] max-w-screen-xl flex-col items-center gap-10 lg:gap-14 xl:gap-20;
  .title-container {
    @apply flex flex-col items-center gap-6 text-center;
    p {
      @apply text-sm leading-[1.75em] opacity-60 lg:text-base;
    }
  }
  .recipes-container {
    @apply grid grid-cols-1 items-center gap-4 sm:grid-cols-2 lg:gap-8 xl:grid-cols-3 xl:gap-10;
    .ad {
      @apply order-6 w-full max-w-[400px];
    }
  }
}

#everyone {
  @apply flex w-[90%] max-w-screen-xl flex-col items-center gap-11 text-center lg:grid lg:grid-cols-2 lg:text-left;
  div {
    @apply flex max-w-[525px] flex-col items-center gap-4 lg:items-start lg:gap-6;
    p {
      @apply text-sm leading-[1.75em] opacity-60 lg:text-base;
    }
    a {
      @apply mt-4 w-max cursor-pointer rounded-2xl bg-black py-[22px] px-[53px] text-sm font-semibold leading-[17px]
      tracking-[-0.02em] text-white transition-all duration-300 hover:opacity-70 lg:mt-12;
    }
  }
}

#posts {
  @apply flex w-full flex-col items-center gap-10 bg-gradient-to-t from-brightBlue to-transparent py-20
  lg:gap-14 xl:gap-20;
  padding-inline: 5%;
  @media (min-width: 1423px) {
    padding-inline: calc((100% - 1280px) / 2);
  }
  .title-container {
    @apply flex flex-col items-center gap-6 text-center;
    p {
      @apply text-sm leading-[1.75em] opacity-60 lg:text-base;
    }
  }
  .posts {
    @apply flex flex-wrap justify-center gap-10;
  }
  a {
    @apply mt-4 flex w-max cursor-pointer gap-4 rounded-2xl bg-black py-[22px] px-8 text-sm
      font-semibold leading-[17px] tracking-[-0.02em] text-white transition-all duration-300 hover:opacity-70;
  }
}

#recipes-2 {
  @apply flex w-[90%] max-w-screen-xl flex-col items-center gap-10 lg:gap-14 xl:gap-20;
  .title-container {
    @apply flex flex-col items-center gap-6 text-center lg:grid lg:grid-cols-2 lg:text-left;
    p {
      @apply text-sm leading-[1.75em] opacity-60 lg:text-base;
    }
  }
  .recipes-container {
    @apply flex flex-wrap items-center justify-center gap-10;
    .ad {
      @apply order-6 w-full max-w-[400px];
    }
  }
}

#inbox {
  @apply relative flex w-[90%] max-w-screen-xl flex-col items-center gap-6 overflow-hidden rounded-[60px] bg-brightBlue py-20 px-4
  text-center;
  p {
    @apply z-10 max-w-[620px] text-sm leading-[1.75em] lg:text-base lg:opacity-60;
  }
  form {
    @apply z-10 mt-12 flex flex-col gap-6 rounded-3xl sm:flex-row sm:gap-0 sm:bg-white sm:p-2.5 sm:pl-7;
    input {
      @apply w-64 rounded-2xl p-5 text-sm font-medium leading-[1.21em] tracking-[-0.02em] sm:p-1;
    }
    button {
      @apply rounded-2xl bg-black py-[21px] px-[46px] text-sm font-semibold leading-[1.21em] tracking-[-0.02em] text-white;
    }
  }
  img {
    @apply absolute;
  }
  img:nth-child(4) {
    @apply left-0 top-0 rotate-90;
  }
  img:nth-child(5) {
    @apply right-0 bottom-0;
  }
}
